<%- include("./header.ejs") %>
<body>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/img/htmlico.png" alt="" width="72" height="70">
        <h1 class="display-5 fw-bold text-body-emphasis">HTML tanulás egyszerűen</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Gyere és tanuld meg a HTML apjait. Az se baj ha már van valamennyi ismereted akkor válaszd a haladó vagy a nehéz kurzusainkat!</p>
        </div>
      </div>

    <div class="container my-10">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Miért pont HTML?</h1>
            <p class="lead">HTML (HyperText Markup Language) tanulása sok előnyt jelenthet számodra, különösen ha érdeklődsz a webfejlesztés, webdesign vagy online tartalom létrehozása iránt. Íme néhány ok, amiért érdemes HTML-t tanulni:
              <ul class="lead">
                <li>Alapvető webfejlesztési ismeretek: Az HTML az internetes tartalmak alapja, és fontos tudni, hogyan működik a weboldalak struktúrája és elrendezése.</li>
                <li>Flexibilitás és kreativitás: Ha tudod, hogyan kell HTML-t használni, könnyebben létrehozhatsz egyéni weboldalakat vagy blogokat, és testreszabhatsz különböző online tartalmakat.</li>
                <li>Közvetlen kontroll: Az HTML használatával közvetlen kontrollt kaphatsz a weboldalad tartalmának és elrendezésének felett. Nem kell egy teljesen előre elkészített sablont használnod, ha tudod, hogyan kell HTML-t írni.</li>
                <li>Közvetlen kapcsolat a CSS és JavaScript-el: Az HTML, a CSS (Cascading Style Sheets) és a JavaScript három alapvető technológia, amelyekkel a legtöbb weboldal készül. Ha ismered az HTML-t, könnyebben megérted a CSS-t és a JavaScriptet is, ami még szélesebb körű lehetőségeket nyit meg számodra a webfejlesztés terén.</li>
                <li>Karrierlehetőségek: A webfejlesztés egy keresett szakma, és az HTML-tudás nagyban hozzájárulhat ahhoz, hogy sikeresen elhelyezkedj a területen.</li>
                <li>Könnyen elérhető tanulóanyagok: Az HTML-t könnyű megtanulni, és rengeteg ingyenes online forrás áll rendelkezésedre, hogy segítsen megérteni a nyelvet és gyakorolni az alkalmazását.</li>
                <li>Kreatív kifejezőeszköz: Az HTML nem csak technikai eszköz, hanem kreatív kifejezőeszköz is lehet. A különféle HTML elemek és tulajdonságok segítségével egyedi és izgalmas online tartalmakat hozhatsz létre.</li>
              </ul>
              <p class="lead">Összességében az HTML tanulása nagyon hasznos lehet, függetlenül attól, hogy milyen céljaid vannak a webfejlesztés vagy a digitális tartalom létrehozása terén.</p>
            </p>
          </div>
        </div>
    </div>

    <div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Oktatás</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">HTML alapjai<small class="text-body-secondary fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>elemek kezelése</li>
                <li>stílus használaa </li>
                <li>heading kialakítása</li>
                <li>linkek megvalósítása</li>
              </ul>
              <a href="/tananyag"><button id="Tananyag" type="button" class="w-100 btn btn-lg btn-outline-primary">Tananyag</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Feladatok</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">Gyakorolj<small class="text-body-secondary fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Gyakorolj!</li>
                <li>Gyakorolj!!</li>
                <li>Gyakorolj!!!</li>
                <li>Gyakorolj!!!!</li>
              </ul>
              <a href="/feladatok"><button type="button" class="w-100 btn btn-lg btn-primary">Feladatok</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Vizsga</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">Készen állsz?<small class="text-body-secondary fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Mit tanultál?</li>
                <li>Teszteld tudásod!</li>
                <li>Mutasd meg mit tudsz!</li>
                <li>Csak ügyesen</li>
              </ul>
              <a href="/vizsga"><button type="button" class="w-100 btn btn-lg btn-primary">Vizsga</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<%- include("./footer.ejs") %>